@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --gray-100: hsl(0, 0%, 96%);
  --gray-150: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 87%);
  --gray-300: hsl(0, 0%, 60%);
  --gray-400: hsl(213, 10%, 30%);
  --gray-500: hsl(213, 71%, 5%);
  --blue-400: hsl(216, 71%, 60%);
  --blue-500: hsl(216, 71%, 55%);
  --blue-600: hsl(216, 71%, 45%);
  --red-400: hsl(357, 71%, 65%);
  --red-500: hsl(357, 71%, 60%);
  --red-600: hsl(357, 71%, 55%);
  --red-o-3: hsla(357, 71%, 60%, 0.3);
  --red-o-2: hsla(357, 71%, 60%, 0.2);
  --foreground: #fff;
  --background: var(--gray-100);
  --dark-foreground: hsl(213, 10%, 9%);
  --dark-background: hsl(210, 5%, 4%);
  --folder-icon: #ffcb23;
  --border-color: var(--gray-200);
  --shadow: 0px 5px 30px -8px var(--gray-200);
  --primary: var(--blue-500);
  --primary-o-3: hsla(216, 71%, 55%, 0.3);
  --primary-o-2: hsla(216, 71%, 55%, 0.2);
  --side-menu-width: 60px;
  --side-menu-hover: rgba(0, 0, 0, 0.05);
  --dark-side-menu-hover: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html.dark-mode {
  --gray-150: hsl(0, 0%, 17%);
  --gray-200: hsl(0, 0%, 20%);
  --gray-400: hsl(0, 0%, 80%);
  --gray-500: hsl(216, 71%, 95%);
  --background: var(--dark-background);
  --foreground: var(--dark-foreground);
  --side-menu-hover: var(--dark-side-menu-hover);
}

body {
  background-color: var(--background);
}

.main-container {
  display: flex;
}

section {
  padding: calc(var(--side-menu-width) + 30px) 0 30px var(--side-menu-width);
}
@media only screen and (max-width: 576px) {
  section {
    padding: calc(var(--side-menu-width) + 15px) 10px 15px calc(var(--side-menu-width) + 10px);
  }
}

a {
  text-decoration: none;
}

input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--gray-300);
}
input[type=checkbox]:checked {
  border-color: var(--primary);
  background-color: var(--primary);
}
input[type=checkbox]:checked::before {
  color: #fff;
  content: "done";
  font-size: 1.2em;
  line-height: 1em;
  font-family: "Material Icons";
}

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

nav {
  padding: 10px 0;
  position: fixed;
  z-index: 2;
  height: 60px;
  right: 0;
  left: 0;
  background-color: var(--foreground);
  border-bottom: 1px solid var(--border-color);
}
nav .container {
  display: flex;
  align-items: center;
}
nav .title {
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  color: var(--blue-500);
  text-transform: capitalize;
}
nav .nav__create-btn {
  border: none;
  display: block;
  color: #fff;
  line-height: 1em;
  font-size: 0.85em;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.6em 1em;
  transition: 0.3s ease-in-out;
  color: var(--primary);
  background-color: var(--primary-o-2);
}
nav .nav__create-btn:hover {
  background-color: var(--primary-o-3);
}
nav .container > ul {
  display: flex;
  list-style: none;
  gap: 1em;
  align-items: center;
  font-size: 1.2em;
  margin-left: auto;
}
nav .container > ul a {
  color: var(--gray-500);
}
nav .container > ul a.active {
  color: var(--blue-500);
}

.loading {
  font-size: 1.5em;
  user-select: none;
  text-align: center;
  color: var(--gray-300);
}

.tasks > .container {
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
}
@media only screen and (max-width: 992px) {
  .tasks > .container {
    flex-wrap: wrap-reverse;
  }
  .tasks > .container .tasks-list {
    max-width: 100%;
  }
}
.tasks .tasks-list {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  position: relative;
  flex-direction: column;
}
.tasks .tasks-list .task {
  display: flex;
  gap: 1em;
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  position: relative;
  align-items: center;
  border-radius: 12px;
  padding: 0 20px;
  transition: opacity 0.3s ease-in;
  background-color: var(--foreground);
}
.tasks .tasks-list .task.checked {
  opacity: 0.6;
}
.tasks .tasks-list .task .badge {
  left: 0;
  width: 4px;
  border-radius: 5px;
  height: 50%;
  position: absolute;
}
.tasks .tasks-list .task__title {
  width: 100%;
  font-size: 1.25em;
  font-weight: 400;
  padding: 20px 0;
  color: var(--gray-400);
}

section.folders .folders-wrapper {
  width: 100%;
}
section.folders .folders-toggler {
  display: none;
  cursor: pointer;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 12px;
  align-items: center;
  background: var(--foreground);
}
@media only screen and (max-width: 992px) {
  section.folders .folders-toggler {
    display: flex;
  }
}
section.folders .folders-toggler h2 {
  font-weight: 400;
  color: var(--gray-400);
}
section.folders .folders-toggler .active-folder {
  font-size: 1em;
  color: var(--gray-300);
}
section.folders .folders-toggler .icon {
  font-size: 1.5em;
  margin-left: auto;
  color: var(--gray-400);
  font-family: "Material Icons";
}
section.folders .folders-list {
  gap: 1em;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
}
section.folders .folders-list .folder-wrapper {
  cursor: pointer;
  position: relative;
}
section.folders .folders-list .folder-wrapper:hover .drop-down {
  opacity: 1;
}
section.folders .folders-list .drop-down {
  z-index: 1;
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
  margin: 10px 5px;
  color: var(--gray-400);
  transition: opacity 0.2s ease-in-out;
}
section.folders .folders-list .folder {
  z-index: 0;
  padding: 20px;
  user-select: none;
  position: relative;
  border-radius: 12px;
  border: 2px solid transparent;
  background-color: var(--foreground);
  transition: border-color 0.3s ease-in-out;
}
section.folders .folders-list .folder.active {
  border-color: var(--color);
}
section.folders .folders-list .folder__icon {
  font-size: 4.5em;
  color: var(--color);
  margin: -11px 0 0 -5px;
  font-family: "Material Icons";
}
section.folders .folders-list .folder__title-container {
  display: flex;
  color: var(--color);
  align-items: flex-end;
  justify-content: space-between;
}
section.folders .folders-list .folder__title {
  font-size: 1.45em;
  line-height: 1.45em;
  text-transform: capitalize;
}
section.folders .folders-list .folder__counter {
  font-size: 0.875em;
  color: var(--gray-300);
}
section.folders .folders-list .folder__percentage {
  font-size: 1.125em;
}

.back-btn {
  border: none;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  background: var(--gray-200);
  font-size: 1.5em;
  line-height: 1em;
  color: var(--gray-400);
  font-family: "Material Icons";
}

.create .header {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 20px;
}
.create .date {
  font-size: 1em;
  color: var(--gray-300);
  line-height: 1.5em;
}
.create .delete-btn {
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 0.9em;
  line-height: 1em;
  font-weight: 500;
  margin-left: auto;
  border-radius: 5px;
  color: var(--red-500);
  transition: 0.3s ease-in-out;
  background-color: var(--red-o-2);
}
.create .delete-btn:hover {
  background-color: var(--red-o-3);
}
.create form {
  display: flex;
  flex-direction: column;
}
.create input[type=text], .create textarea {
  padding: 10px 10px 10px 0;
  color: var(--gray-400);
  line-height: 1.5em;
  border: none;
  background-color: transparent;
}
.create input[type=text]:focus, .create textarea:focus {
  outline: none;
}
.create input[type=text] {
  font-size: 2em;
}
.create textarea {
  font-size: 1.25em;
  flex: 0 1 100%;
  min-width: 100%;
  max-width: 100%;
}

.dialog-wrapper {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-wrapper .dialog-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
}
.dialog-wrapper .create-dialog {
  width: 100%;
  z-index: 1000;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  background-color: var(--foreground);
}
.dialog-wrapper .preview-icon {
  width: 100%;
  font-size: 7rem;
  margin: 40px 0;
  text-align: center;
  color: var(--folder-icon);
}
.dialog-wrapper .header {
  gap: 1em;
  display: flex;
  font-size: 1.25em;
  padding: 20px 1em;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}
.dialog-wrapper .header > svg {
  color: var(--folder-icon);
}
.dialog-wrapper .header .title {
  color: var(--gray-400);
}
.dialog-wrapper .header .close-btn {
  border: none;
  height: 1.5rem;
  cursor: pointer;
  background: none;
  font-size: 1.25em;
  color: var(--gray-400);
}
.dialog-wrapper .form {
  gap: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-color);
}
.dialog-wrapper .form input[type=text] {
  border: none;
  padding: 10px;
  font-size: 1.125em;
  flex-basis: 100%;
  border-radius: 8px;
  color: var(--gray-400);
  background-color: var(--gray-150);
}
.dialog-wrapper .form input[type=text]:focus {
  outline: none;
}
.dialog-wrapper .form input[type=submit] {
  border: none;
  color: var(--primary);
  padding: 10px 12px;
  align-self: stretch;
  font-size: 1em;
  cursor: pointer;
  font-weight: 500;
  border-radius: 8px;
  text-transform: uppercase;
  background: var(--primary-o-2);
  transition: 0.3s ease-in-out;
}
.dialog-wrapper .form input[type=submit]:hover {
  background-color: var(--primary-o-3);
}

.color-picker {
  --width: 30px;
  height: fit-content;
}
.color-picker .button {
  width: var(--width);
  height: var(--width);
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}
.color-picker .menu {
  list-style: none;
  display: grid;
  gap: 0.7em;
  padding: 0.7em;
  grid-template-columns: repeat(3, 1fr);
}
.color-picker .color {
  width: var(--width);
  height: var(--width);
  cursor: pointer;
  border-radius: 8px;
}

.folder-picker {
  cursor: pointer;
}
.folder-picker__color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.folder-picker .active-folder {
  gap: 0.5em;
  display: flex;
  padding: 0.6em;
  border-radius: 10px;
  align-items: center;
  color: var(--gray-400);
  transition: 0.3s ease-in-out;
}
.folder-picker .active-folder:hover {
  background-color: var(--gray-150);
}
.folder-picker .menu .item {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: center;
  color: var(--gray-400);
}
.folder-picker .menu .item:hover {
  background-color: var(--gray-150);
}

.repeating-picker__btn {
  gap: 0.5em;
  cursor: pointer;
  display: flex;
  padding: 0.6em;
  border-radius: 10px;
  align-items: center;
  color: var(--gray-400);
  transition: 0.3s ease-in-out;
}
.repeating-picker__btn:hover {
  background-color: var(--gray-150);
}
.repeating-picker .item {
  padding: 10px;
}

.dark-mode-switch {
  width: 60px;
  height: fit-content;
  font-size: 1em;
  padding: 5px;
  display: flex;
  cursor: pointer;
  border-radius: 20px;
  background-color: var(--gray-150);
}
.dark-mode-switch__btn {
  content: "";
  border: none;
  width: 25px;
  height: 25px;
  padding: 2px;
  border-radius: 50%;
  color: #333333;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}
.dark-mode-switch__btn.active {
  transform: translateX(0);
}
.dark-mode-switch__btn svg {
  width: 100%;
  height: 100%;
  transform: rotate(15deg);
}

.drop-down {
  position: relative;
}
.drop-down .menu {
  min-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  margin-top: 5px;
  z-index: 100;
  left: 0;
  top: 100%;
  color: var(--gray-500);
  background-color: var(--foreground);
  border: 1px solid var(--border-color);
}
.drop-down .item {
  display: block;
  color: var(--gray-500);
  font-size: 0.875em;
  padding: 8px 10px;
  cursor: pointer;
}
.drop-down .item:hover {
  background-color: var(--gray-200);
}

.side-menu {
  height: 100vh;
  top: var(--side-menu-width);
  width: var(--side-menu-width);
  position: fixed;
  overflow: hidden;
  z-index: 1;
  color: var(--gray-400);
  transition: width 0.3s ease-in;
  background-color: var(--foreground);
}
.side-menu.opened {
  width: 230px;
  transition: width 0.3s ease-out;
}
.side-menu .menu {
  list-style: none;
}
.side-menu .item {
  display: flex;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.125em;
  align-items: center;
  color: var(--gray-400);
  transition: background-color 0.2s;
  gap: 1em;
}
.side-menu .item:hover {
  background: var(--side-menu-hover);
}
.side-menu .item.active {
  color: var(--primary);
}
.side-menu .item svg {
  font-size: 1.5em;
}
.side-menu .item .badge {
  padding: 5px;
  font-size: 0.8em;
  line-height: 1em;
  font-weight: 500;
  margin-left: auto;
  border-radius: 10px;
  background: rgba(115, 115, 115, 0.25);
}

.side-menu__toggler {
  border: none;
  cursor: pointer;
  background: none;
  margin-left: 1rem;
  color: var(--gray-400);
}
.side-menu__toggler svg {
  font-size: 2.1em;
}

/*# sourceMappingURL=index.css.map */
