@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --gray-100: hsl(0, 0%, 96%);
  --gray-150: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 87%);
  --gray-300: hsl(0, 0%, 60%);
  --gray-400: hsl(0, 0%, 40%);
  --gray-500: hsl(216, 71%, 5%);
  --blue-400: hsl(216, 71%, 60%);
  --blue-500: hsl(216, 71%, 55%);
  --blue-600: hsl(216, 71%, 45%);
  --red-400: hsl(357, 71%, 65%);
  --red-500: hsl(357, 71%, 60%);
  --red-600: hsl(357, 71%, 55%);
  --foreground: #fff;
  --background: var(--gray-100);
  --dark-foreground: hsl(0, 0%, 10%);
  --dark-background: hsl(0, 0%, 5%);
  --folder-icon: #ffcb23;
  --border-color: var(--gray-200);
  --shadow: 0px 5px 30px -8px var(--gray-200);
  --primary: var(--blue-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html.dark-mode {
  --gray-150: hsl(0, 0%, 17%);
  --gray-200: hsl(0, 0%, 20%);
  --gray-400: hsl(0, 0%, 80%);
  --gray-500: hsl(216, 71%, 95%);
  --background: var(--dark-background);
  --foreground: var(--dark-foreground);
}

body {
  background-color: var(--background);
}

section {
  padding: 30px 0;
}
@media only screen and (max-width: 576px) {
  section {
    padding: 10px 0;
  }
}

a {
  text-decoration: none;
}

input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--gray-300);
}
input[type=checkbox]:checked {
  border-color: var(--primary);
  background-color: var(--primary);
}
input[type=checkbox]:checked::before {
  color: #fff;
  content: "done";
  font-size: 1.2em;
  line-height: 1em;
  font-family: "Material Icons";
}

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

nav {
  padding: 10px 0;
  background-color: var(--foreground);
  border-bottom: 1px solid var(--border-color);
}
nav .container {
  display: flex;
  align-items: center;
}
nav .title {
  font-size: 2em;
  font-weight: 500;
  line-height: 1em;
  color: var(--blue-500);
  text-transform: capitalize;
}
nav .nav__create-btn {
  border: none;
  display: block;
  color: #fff;
  line-height: 1em;
  font-size: 0.85em;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.6em 1em;
  transition: 0.3s ease-in-out;
  background-color: var(--primary);
}
nav .nav__create-btn:hover {
  background-color: var(--blue-400);
}
nav .drop-down .item {
  display: block;
  color: var(--gray-500);
  font-size: 0.875em;
  padding: 8px 10px;
  cursor: pointer;
}
nav .drop-down .item:hover {
  background-color: var(--gray-200);
}
nav .container > ul {
  display: flex;
  list-style: none;
  gap: 1em;
  align-items: center;
  font-size: 1.2em;
  margin-left: auto;
}
nav .container > ul a {
  color: var(--gray-500);
}
nav .container > ul a.active {
  color: var(--blue-500);
}

.loading {
  font-size: 1.5em;
  user-select: none;
  text-align: center;
  color: var(--gray-300);
}

.tasks > .container {
  display: flex;
  align-items: flex-start;
  gap: 1.5em;
}
@media only screen and (max-width: 992px) {
  .tasks > .container {
    flex-wrap: wrap-reverse;
  }
  .tasks > .container .tasks-list {
    max-width: 100%;
  }
}
.tasks .tasks-list {
  display: flex;
  gap: 1em;
  width: 100%;
  max-width: 600px;
  position: relative;
  flex-direction: column;
}
.tasks .tasks-list .task {
  display: flex;
  gap: 1em;
  position: relative;
  cursor: pointer;
  align-items: center;
  border-radius: 12px;
  padding: 0 20px;
  background-color: var(--foreground);
  transition: opacity 0.3s ease-in;
}
.tasks .tasks-list .task.checked {
  opacity: 0.6;
}
.tasks .tasks-list .task .badge {
  left: 0;
  width: 4px;
  border-radius: 5px;
  height: 50%;
  position: absolute;
}
.tasks .tasks-list .task__title {
  width: 100%;
  font-size: 1.25em;
  font-weight: 400;
  padding: 20px 0;
  color: var(--gray-400);
}
.tasks .folders-wrapper {
  width: 100%;
}
.tasks .folders-toggler {
  display: none;
  cursor: pointer;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 12px;
  align-items: center;
  background: var(--foreground);
}
@media only screen and (max-width: 992px) {
  .tasks .folders-toggler {
    display: flex;
  }
}
.tasks .folders-toggler h2 {
  font-weight: 400;
  color: var(--gray-400);
}
.tasks .folders-toggler .active-folder {
  font-size: 1em;
  color: var(--gray-300);
}
.tasks .folders-toggler .icon {
  font-size: 1.5em;
  margin-left: auto;
  color: var(--gray-400);
  font-family: "Material Icons";
}
.tasks .folders-list {
  display: grid;
  gap: 1em;
  width: 100%;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 152px);
}
.tasks .folders-list .folder {
  cursor: pointer;
  padding: 20px 0;
  text-align: center;
  border-radius: 12px;
  background-color: var(--foreground);
  transition: border-color 0.3s ease-in-out;
  border: 2px solid transparent;
}
.tasks .folders-list .folder__title {
  font-size: 1.25em;
  color: var(--gray-400);
  text-transform: capitalize;
}
.tasks .folders-list .folder__icon {
  font-size: 3.5em;
  user-select: none;
  color: var(--folder-icon);
  font-family: "Material Icons";
}

.back-btn {
  border: none;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  background: var(--gray-200);
  font-size: 1.5em;
  line-height: 1em;
  color: var(--gray-400);
  font-family: "Material Icons";
}

.create .header {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-bottom: 20px;
}
.create .date {
  font-size: 1em;
  color: var(--gray-300);
  line-height: 1.5em;
}
.create .delete-btn {
  border: none;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  line-height: 1em;
  margin-left: auto;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  background-color: var(--red-500);
}
.create .delete-btn:hover {
  background-color: var(--red-400);
}
.create .delete-btn:active {
  background-color: var(--red-600);
}
.create form {
  display: flex;
  flex-direction: column;
}
.create input[type=text], .create textarea {
  padding: 10px 10px 10px 0;
  color: var(--gray-400);
  line-height: 1.5em;
  border: none;
  background-color: transparent;
}
.create input[type=text]:focus, .create textarea:focus {
  outline: none;
}
.create input[type=text] {
  font-size: 2em;
}
.create textarea {
  font-size: 1.25em;
  flex: 0 1 100%;
  min-width: 100%;
  max-width: 100%;
}

.dialog-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-wrapper .dialog-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.25);
}
.dialog-wrapper .create-dialog {
  z-index: 2;
  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  background-color: var(--foreground);
  box-shadow: var(--shadow);
}
.dialog-wrapper .icon {
  user-select: none;
  font-family: "Material Icons";
}
.dialog-wrapper .icon.main {
  font-size: 5em;
  color: var(--folder-icon);
  text-align: center;
  margin: 50px 0;
}
.dialog-wrapper .header {
  gap: 1em;
  display: flex;
  font-size: 1.25em;
  padding: 20px 1em;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
}
.dialog-wrapper .header .icon {
  user-select: none;
  color: var(--folder-icon);
}
.dialog-wrapper .header .title {
  color: var(--gray-400);
}
.dialog-wrapper .header .close-btn {
  border: none;
  cursor: pointer;
  background: none;
  font-size: 1.25em;
  color: var(--gray-400);
  font-family: "Material Icons";
}
.dialog-wrapper .form {
  gap: 1em;
  padding: 1em;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--border-color);
}
.dialog-wrapper .form input[type=text] {
  border: none;
  padding: 10px;
  font-size: 1em;
  flex-basis: 100%;
  border-radius: 10px;
  color: var(--gray-400);
  background-color: var(--gray-150);
}
.dialog-wrapper .form input[type=text]:focus {
  outline: none;
}
.dialog-wrapper .form input[type=submit] {
  border: none;
  color: #fff;
  padding: 10px 12px;
  align-self: stretch;
  line-height: 1em;
  font-size: 0.9em;
  cursor: pointer;
  font-weight: 500;
  border-radius: 10px;
  text-transform: uppercase;
  background: var(--primary);
  transition: 0.3s ease-in-out;
}
.dialog-wrapper .form input[type=submit]:hover {
  background-color: var(--blue-400);
}

.color-picker {
  --width: 30px;
  height: fit-content;
}
.color-picker .button {
  width: var(--width);
  height: var(--width);
  display: block;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.color-picker .menu {
  list-style: none;
  display: grid;
  gap: 0.7em;
  padding: 0.7em;
  grid-template-columns: repeat(3, 1fr);
}
.color-picker .color {
  width: var(--width);
  height: var(--width);
  cursor: pointer;
  border-radius: 50%;
}

.folder-picker {
  cursor: pointer;
}
.folder-picker__color-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.folder-picker .active-folder {
  gap: 0.5em;
  display: flex;
  padding: 0.6em;
  border-radius: 10px;
  align-items: center;
  color: var(--gray-400);
  transition: 0.3s ease-in-out;
}
.folder-picker .active-folder:hover {
  background-color: var(--gray-150);
}
.folder-picker .menu .item {
  gap: 10px;
  width: 150px;
  display: flex;
  padding: 10px;
  align-items: center;
  color: var(--gray-400);
}
.folder-picker .menu .item:hover {
  background-color: var(--gray-150);
}

.darkmode-btn {
  font-family: "Material Icons";
  background-color: var(--foreground);
  color: var(--gray-400);
  font-size: 1.5em;
  user-select: none;
  cursor: pointer;
  transform: rotate(160deg);
  box-shadow: 0px -1px 15px -3px var(--gray-200);
  padding: 7px;
  border-radius: 50%;
  margin: 0 1em;
}

.drop-down {
  position: relative;
}
.drop-down .menu {
  min-width: 100%;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  margin-top: 5px;
  left: 0;
  top: 100%;
  color: var(--gray-500);
  background-color: var(--foreground);
  border: 1px solid var(--border-color);
}

/*# sourceMappingURL=index.css.map */
