@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
	--gray-100: hsl(0, 0%, 96%);
	--gray-150: hsl(0, 0%, 90%);
	--gray-200: hsl(0, 0%, 87%);
	--gray-300: hsl(0, 0%, 60%);
	// --gray-400: hsl(0, 0%, 40%);
	--gray-400: hsl(213, 10%, 30%);
	--gray-500: hsl(213, 71%, 5%);
	
	--blue-400: hsl(216, 71%, 60%);
	--blue-500: hsl(216, 71%, 55%);
	--blue-600: hsl(216, 71%, 45%);
	
	--red-400: hsl(357, 71%, 65%);
	--red-500: hsl(357, 71%, 60%);
	--red-600: hsl(357, 71%, 55%);
	--red-o-3: hsla(357, 71%, 60%, 0.3);
	--red-o-2: hsla(357, 71%, 60%, 0.2);

	--foreground: #fff;
	--background: var(--gray-100);

	--dark-foreground: hsl(213, 10%, 9%);
	--dark-background: hsl(210, 5%, 4%);

	--folder-icon: #ffcb23;
	
	--border-color: var(--gray-200);
	--shadow: 0px 5px 30px -8px var(--gray-200);

	--primary: var(--blue-500);
	--primary-o-3: hsla(216, 71%, 55%, 0.3);
	--primary-o-2: hsla(216, 71%, 55%, 0.2);
	--side-menu-width: 60px;
	--side-menu-hover: rgba(0, 0, 0, 0.05);
	--dark-side-menu-hover: rgba(0, 0, 0, 0.25);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	&.dark-mode {
		--gray-150: hsl(0, 0%, 17%);
		--gray-200: hsl(0, 0%, 20%);
		--gray-400: hsl(0, 0%, 80%);
		--gray-500: hsl(216, 71%, 95%);
		--background: var(--dark-background);
		--foreground: var(--dark-foreground);
		--side-menu-hover: var(--dark-side-menu-hover);
	}
}

body {
	background-color: var(--background);
}

.main-container {
	display: flex;
}

section {
	min-height: 100vh;
	position: relative;
	padding: 30px 0 30px var(--side-menu-width);

	@media only screen and (max-width: 576px) {
		padding: 10px 10px 10px calc(var(--side-menu-width) + 10px);
	}
}

h1 {
	font-size: 3rem;
	font-weight: 500;
	line-height: 1.5em;
	color: var(--gray-400);
}

a {
	text-decoration: none;
}

input[type="checkbox"] {
	appearance: none;
	width: 20px;
	height: 20px;
	padding: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid var(--gray-300);

	&:checked {
		border-color: var(--primary);
		background-color: var(--primary);

		&::before {
			color: #fff;
			content: 'done';
			font-size: 1.2em;
			line-height: 1em;
			font-family: 'Material Icons';
		}
	}
}

section .container[data-empty]:empty {
	top: 50%;
	left: 50%;
	display: flex;
	position: absolute;
	justify-content: center;
	transform: translate(-50%, -50%);

	&::before {
		content: 'You Don\'t have any ' attr(data-empty);
		font-size: 1.5em;
		user-select: none;
		text-align: center;
		color: var(--gray-300);
	}
}

.container {
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;

	@media only screen and (min-width: 576px) {
		max-width: 540px;
	}

	@media only screen and (min-width: 768px) {
		max-width: 720px;
	}

	@media only screen and (min-width: 992px) {
		max-width: 960px;
	}

	@media only screen and (min-width: 1200px) {
		max-width: 1140px;
	}

	@media only screen and (min-width: 1400px) {
		max-width: 1320px;
	}
}

nav {
	padding: 10px 0;
	position: fixed;
	z-index: 2;
	height: 60px;
	right: 0;
	left: 0;
	background-color: var(--foreground);
	border-bottom: 1px solid var(--border-color);

	.container {
		display: flex;
		align-items: center;
	}

	.title {
		font-size: 2em;
		font-weight: 500;
		line-height: 1em;
		color: var(--blue-500);
		text-transform: capitalize;
	}

	.nav__create-btn {
		border: none;
		display: block;
		color: #fff;
		line-height: 1em;
		font-size: 0.85em;
		font-weight: 500;
		border-radius: 20px;
		cursor: pointer;
		text-transform: uppercase;
		padding: 0.6em 1em;
		transition: 0.3s ease-in-out;
		color: var(--primary);
		background-color: var(--primary-o-2);

		&:hover {
			background-color: var(--primary-o-3);
		}
	}

	.container > ul {
		display: flex;
		list-style: none;
		gap: 1em;
		align-items: center;
		font-size: 1.2em;
		margin-left: auto;

		a {
			color: var(--gray-500);
	
			&.active {
				color: var(--blue-500);
			}
		}
	}
}

.loading {
	font-size: 1.5em;
	user-select: none;
	color: var(--gray-300);
}

.tasks {
	& > .container {
		display: flex;
		align-items: flex-start;
		gap: 1.5em;

		@media only screen and (max-width: 992px) {
			flex-wrap: wrap-reverse;

			.tasks-list {
				max-width: 100%;
			}
		}
	}

	.tasks-list {
		display: flex;
		align-items: center;
		gap: 1em;
		width: 100%;
		position: relative;
		flex-direction: column;
	
		.task {
			display: flex;
			gap: 1em;
			width: 100%;
			max-width: 600px;
			cursor: pointer;
			position: relative;
			align-items: center;
			border-radius: 12px;
			padding: 0 20px;
			transition: opacity 0.3s ease-in;
			background-color: var(--foreground);

			&.checked {
				opacity: 0.6;
			}

			.badge {
				left: 0;
				width: 4px;
				border-radius: 5px;
				height: 50%;
				position: absolute;
			}
	
			&__title {
				width: 100%;
				font-size: 1.25em;
				font-weight: 400;
				padding: 20px 0;
				color: var(--gray-400);
			}
		}
	}
}

section.folders {
	.folders-wrapper {
		width: 100%;
	}

	.folders-toggler {
		display: none;
		cursor: pointer;
		padding: 1em;
		margin-bottom: 1em;
		border-radius: 12px;
		align-items: center;
		background: var(--foreground);

		@media only screen and (max-width: 992px) {
			display: flex;
		}

		h2 {
			font-weight: 400;
			color: var(--gray-400);
		}

		.active-folder {
			font-size: 1em;
			color: var(--gray-300);
		}

		.icon {
			font-size: 1.5em;
			margin-left: auto;
			color: var(--gray-400);
			font-family: 'Material Icons';
		}
	}

	.folders-list {
		gap: 1em;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));

		@media only screen and (min-width: 992px) {
			grid-template-columns: repeat(auto-fit, 268px);
		}

		.folder-wrapper {
			cursor: pointer;
			position: relative;

			&:hover .drop-down {
				opacity: 1;
			}
		}

		.drop-down {
			z-index: 1;
			position: absolute;
			opacity: 0;
			right: 0;
			top: 0;
			margin: 10px 5px;
			color: var(--gray-400);
			transition: opacity 0.2s ease-in-out;
		}

		.folder {
			z-index: 0;
			padding: 20px;
			user-select: none;
			position: relative;
			border-radius: 12px;
			border: 2px solid transparent;
			background-color: var(--foreground);
			transition: border-color 0.3s ease-in-out;

			&.active {
				border-color: var(--color);
			}
			
			&__icon {
				font-size: 4.5em;
				color: var(--color);
				margin: -11px 0 0 -5px;
				font-family: "Material Icons";
			}

			&__title-container {
				display: flex;
				color: var(--color);
				align-items: flex-end;
				justify-content: space-between;
			}

			&__title {
				font-size: 1.45em;
				line-height: 1.45em;
				text-transform: capitalize;
			}

			&__counter {
				font-size: 0.875em;
				color: var(--gray-300);
			}

			&__percentage {
				font-size: 1.125em;
			}
		}
	}
}

.back-btn {
	border: none;
	border-radius: 12px;
	padding: 10px;
	cursor: pointer;
	background: var(--gray-200);
	font-size: 1.5em;
	line-height: 1em;
	color: var(--gray-400);
	font-family: 'Material Icons';
}

.create {
	.header {
		display: flex;
		gap: 1em;
		align-items: center;
		margin-bottom: 20px;
	}

	.date {
		font-size: 1em;
		color: var(--gray-300);
		line-height: 1.5em;
	}

	.delete-btn {
		border: none;
		padding: 5px;
		cursor: pointer;
		font-size: 0.9em;
		line-height: 1em;
		font-weight: 500;
		margin-left: auto;
		border-radius: 5px;
		color: var(--red-500);
		transition: 0.3s ease-in-out;
		background-color: var(--red-o-2);

		&:hover {
			background-color: var(--red-o-3);
		}
	}
}

.dialog-wrapper {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	.dialog-bg {
		width: 100%;
		height: 100%;
		position: absolute;
		backdrop-filter: blur(4px);
		background: rgba(255, 255, 255, 0.25);
	}

	.create-dialog {
		width: 100%;
		z-index: 1000;
		max-width: 400px;
		border-radius: 12px;
		box-shadow: var(--shadow);
		background-color: var(--foreground);
	}

	.preview-icon {
		width: 100%;
		font-size: 7rem;
		margin: 40px 0;
		text-align: center;
		color: var(--folder-icon);
	}

	.header {
		gap: 1em;
		display: flex;
		font-size: 1.25em;
		padding: 20px 1em;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid var(--border-color);

		& > svg {
			color: var(--folder-icon);
		}

		.title {
			color: var(--gray-400);
		}

		.close-btn {
			border: none;
			height: 1.5rem;
			cursor: pointer;
			background: none;
			font-size: 1.25em;
			color: var(--gray-400);
		}
	}

	.form {
		gap: 1em;
		padding: 1em;
		display: flex;
		align-items: center;
		border-top: 1px solid var(--border-color);

		input[type="text"] {
			border: none;
			padding: 10px;
			font-size: 1.125em;
			flex-basis: 100%;
			border-radius: 8px;
			color: var(--gray-400);
			background-color: var(--gray-150);

			&:focus {
				outline: none;
			}
		}

		input[type="submit"] {
			border: none;
			color: var(--primary);
			padding: 10px 12px;
			align-self: stretch;
			font-size: 1em;
			cursor: pointer;
			font-weight: 500;
			border-radius: 8px;
			text-transform: uppercase;
			background: var(--primary-o-2);
			transition: 0.3s ease-in-out;

			&:hover {
				background-color: var(--primary-o-3);
			}
		}
	}

}

.color-picker {
	--width: 30px;
	height: fit-content;

	.button {
		width: var(--width);
		height: var(--width);
		display: block;
		border: none;
		cursor: pointer;
		border-radius: 8px;
	}

	.menu {
		list-style: none;
		display: grid;
		gap: 0.7em;
		padding: 0.7em;
		grid-template-columns: repeat(3, 1fr);
	}

	.color {
		width: var(--width);
		height: var(--width);
		cursor: pointer;
		border-radius: 8px;
	}
}

.folder-picker {
	cursor: pointer;

	&__color-dot {
		width: 10px;
		height: 10px;
		border-radius: 50%;
	}

	.active-folder {
		gap: 0.5em;
		display: flex;
		padding: 0.6em;
		border-radius: 10px;
		align-items: center;
		color: var(--gray-400);
		transition: 0.3s ease-in-out;

		&:hover {
			background-color: var(--gray-150);
		}
	}

	.menu .item {
		gap: 10px;
		display: flex;
		padding: 10px;
		align-items: center;
		color: var(--gray-400);

		&:hover {
			background-color: var(--gray-150);
		}
	}
}

.repeating-picker {
	&__btn {
		gap: 0.5em;
		cursor: pointer;
		display: flex;
		padding: 0.6em;
		border-radius: 10px;
		align-items: center;
		color: var(--gray-400);
		transition: 0.3s ease-in-out;

		&:hover {
			background-color: var(--gray-150);
		}
	}

	.item {
		padding: 10px;
	}
}

.dark-mode-switch {
	width: 60px;
	height: fit-content;
	font-size: 1em;
	padding: 5px;
	display: flex;
	cursor: pointer;
	border-radius: 20px;
	background-color: var(--gray-150);
	
	&__btn {
		content: '';
		border: none;
		width: 25px;
		height: 25px;
		padding: 2px;
		border-radius: 50%;
		color: hsl(0, 0%, 20%);
		background-color: #fff;
		transform: translateX(100%);
		transition: transform 0.2s ease-in-out;

		&.active {
			transform: translateX(0);
		}

		svg {
			width: 100%;
			height: 100%;
			transform: rotate(15deg);
		}
	}
}

.drop-down {
	position: relative;

	.menu {
		min-width: 100%;
		overflow: hidden;
    border-radius: 10px;
		position: absolute;
		margin-top: 5px;
		z-index: 100;
		left: 0;
		top: 100%;
		color: var(--gray-500);
		background-color: var(--foreground);
		border: 1px solid var(--border-color);
	}

	.item {
		display: block;
		color: var(--gray-500);
		font-size: 0.875em;
		padding: 8px 10px;
		cursor: pointer;
		
		&:hover {
			background-color: var(--gray-200);
		}
	}
}

.side-menu {
	height: 100vh;
	z-index: 1;
	position: fixed;
	overflow: hidden;
	color: var(--gray-400);
	width: var(--side-menu-width);
	transition: width 0.3s ease-in;
	background-color: var(--foreground);

	&.opened {
		width: 230px;
		transition: width 0.3s ease-out;
	}

	.menu {
		list-style: none;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	li:last-of-type {
		margin-top: auto;
	}

	.item {
		display: flex;
		cursor: pointer;
		padding: 1rem;
		font-size: 1.125em;
		align-items: center;
		color: var(--gray-400);
		transition: background-color 0.2s;
		gap: 1em;

		&:hover {
			background: var(--side-menu-hover);
		}

		&.active {
			color: var(--primary);
		}

		svg {
			font-size: 1.5em;
		}

		.badge {
			padding: 5px;
			font-size: 0.8em;
			line-height: 1em;
			font-weight: 500;
			margin-left: auto;
			border-radius: 10px;
			background: hsla(0, 0%, 45%, 0.25);
		}
	}
}

.side-menu__toggler {
	border: none;
	cursor: pointer;
	background: none;
	margin: 1rem;
	color: var(--gray-400);

	svg {
		font-size: 2.1em;
	}
}

section.notes {
	.notes-list {
		display: grid;
		gap: 1em;
		grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));

		@media only screen and (min-width: 1200px) {
			grid-template-columns: repeat(auto-fit, 268px);
		}
	}

	.note {
		padding: 1em;
		height: 100%;
		position: relative;
		border-radius: 12px;
		background-color: var(--foreground);

		&__badge {
			width: 4px;
			height: 35px;
			left: 0;
			position: absolute;
			border-radius: 5px;
		}
		
		&__title {
			--max-lines: 2;
			--line-height: 1.25em;
			font-size: 1.75em;
			overflow: hidden;
			line-height: var(--line-height);
			max-height: calc(var(--line-height) * var(--max-lines));
			font-weight: 500;
			margin-bottom: 10px;
			color: var(--gray-400);
		}
		
		&__description {
			--max-lines: 5;
			--line-height: 1.5em;
			overflow: hidden;
			font-size: 1.125em;
			color: var(--gray-300);
			line-height: var(--line-height);
			max-height: calc(var(--line-height) * var(--max-lines));
		}
	}
}

.edit-form {
	display: flex;
	flex-direction: column;

	input[type="text"], textarea {
		padding: 10px 10px 10px 0;
		color: var(--gray-400);
		line-height: 1.5em;
		border: none;
		background-color: transparent;
	
		&:focus {
			outline: none;
		}
	}
	
	input[type="text"] {
		font-size: 2em;
	}
	
	textarea {
		font-size: 1.25em;
		flex: 0 1 100%;
		min-width: 100%;
		max-width: 100%;
	}
}

section.settings {
	.settings-list {
		display: flex;
		flex-direction: column;
	
		&__tile {
			display: flex;
			padding: 1em 0;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid var(--border-color);
			
			.setting {
				font-weight: 400;
				font-size: 1.5rem;
				color: var(--gray-400);
			}
		}
	}
}

.section-header {
	display: flex;
	gap: 2rem;
	align-items: center !important;
	margin-bottom: 1rem;

	.create-btn {
		padding: 5px;
		cursor: pointer;
		font-size: 2rem;
		border-radius: 50%;
		color: var(--primary);
		background-color: var(--primary-o-2);
		transition: 0.3s ease-in-out;

		&:hover {
			background-color: var(--primary-o-3);
		}
	}
}